<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>destination</key>
    <string>export</string>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>ECNJ62798V</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.hiuc2966.sign.2025</key>
        <string>13093d60-c49f-4cd9-8d64-e06cccfaa565</string>
    </dict>
    <key>signingCertificate</key>
    <string>iPhone Distribution</string>
    <key>stripSwiftSymbols</key>
    <true/>
</dict>
</plist>
